{% extends 'base.html' %}

{% block title %}Log Out{% endblock %}

{% block content %}
    <div class="col-12">
        <h3>Logged Out</h3>
        <p>You have been successfully logged out of your account.</p>
        <a href="{% url 'login' %}"><i class="fa fa-user"></i> Log in again</a>
        or
        <a href="{% url 'ActivityManager:timetable_view' %}"><i class="fa fa-user"></i> Enter as guest</a>
    </div>
{% endblock %}