{% extends 'base.html' %}

{% block title %}Log In{% endblock %}

{% block content %}
    <div style="padding-left: 4em;">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Log In</button>
            or
            <a href="{% url 'ActivityManager:timetable_view' %}"><i class="fa fa-user"></i> Enter as guest</a>
        </form>
    </div>
{% endblock %}