{% extends "base.html" %}
{% block content %}
    <style>
        table {
            table-layout: fixed;
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 5px;
        }

        tr:nth-child(even) {
            background-color: rgba(0, 0, 255, 0.05);
        }

        .table-responsive {
            padding: 2%;
        }
    </style>

    <!-- Table legend and navigation buttons -->
    <div class="row justify-content-end row-button">
        <div class="col-4 legend">
            <p id="clock" class="legend-text">{{ now }}</p>
        </div>
        <div class="col-2 legend assisting">
            <p class="legend-text">Sessions in which you participate</p>
        </div>
        <div class="col-2 legend session">
            <p class="legend-text">Sessions in which you do not participate</p>
        </div>

        <div class="col-1">
            <form method="get" action={% url 'activitymanager:timetable_view' %}>
                <input type="hidden" name="week" value={{ week.prev }}/>
                <button {{ week.prev|disable_if_is_before:week.now }} class="btn btn-default">&laquo; Previous week
                </button>
            </form>
        </div>
        <div class="col-1">
            <form method="get" action={% url 'activitymanager:timetable_view' %}>
                <button type="submit" class="btn btn-default">Back to today</button>
            </form>
        </div>
        <div class="col-1">
            <form method="get" action={% url 'activitymanager:timetable_view' %}>
                <input type="hidden" name="week" value={{ week.next }}/>
                <button type="submit" class="btn btn-default">Next week &raquo;</button>
            </form>
        </div>
    </div>

    <!-- Data table -->
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th> Hour / Day</th>
                {% for day in days %}
                    <th> {{ day|date:"D d/m" }}</th>
                {% endfor %}
            </tr>

            {% for time in times %}
                <tr>
                    <td>{{ time|time:"H:i" }}</td>
                    {% for day in days %}
                        {% with datetime=day|combine:time %}
                            <td>
                                {% for session in timetable|get_item:datetime %}
                                    {% if session.assisting %}
                                        <div class="assisting">
                                    {% elif session.trainer.username == request.user.username %}
                                        <div class="session-own">
                                    {% else %}
                                        <div class="session">
                                    {% endif %}
                                <button
                                        type="button" data-toggle="modal" id="{{ session.session.pk }}"
                                        data-target="#userModal" class="btn btn-link btn-sm btn-user"
                                        {{ datetime|disable_if_is_before:now }}>
                                    {{ session.session.activity.name }} - {{ session.session.room.name }}
                                </button>
                                </div>
                                {% empty %}

                                {% endfor %}
                                <div class=col-12 style="text-align: center;">
                                    {% if request.user|has_group:"trainer" %}
                                        {% if user.is_authenticated %}
                                            <button
                                                    type="button" data-toggle="modal"
                                                    data-target="#trainerModal"
                                                    class="btn btn-link btn-sm btn-trainer block"
                                                    {{ datetime|disable_if_is_before:now }}
                                                    title="{{ datetime|date:"d/m/y - H:i" }}"><span
                                                    class="glyphicon glyphicon-plus"></span>
                                            </button>
                                        {% else %}
                                            <a
                                                    type="button" href="{% url 'login' %}?next=/activities"
                                                    class="btn btn-link btn-sm block"> <span
                                                    class="glyphicon glyphicon-plus"></span>
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </td>
                        {% endwith %}
                    {% endfor %}
                </tr>
            {% endfor %}

        </table>
    </div>
    {% include 'ActivityManager/trainermodal.html' %}
    {% include 'ActivityManager/usermodal.html' %}
    <script>
        // Set time updater
        function updateTime() {
            const datetime = new Date();
            $("#clock").text(
                datetime.toUTCString().slice(0, -4)
            );
            setTimeout(updateTime, 1000);
        }

        updateTime();

        // Set behaviour on form submission
        $(".btn-submit").click(function(event) {
            event.preventDefault();

            // Prepare data object
            const formData = $(event.target.form).serializeArray();
            const data = {};
            for (let i = 0; i < formData.length; i++) {
                data[formData[i].name] = formData[i].value;
            }

            // Add timestamp if necessary
            const timestamp = $("#id_timestamp").val();
            if (timestamp) {
                data.timestamp = timestamp;
            }

            // Post and get result
            $.post(event.target.form.action, data)
            .done(function() {
                location.reload();
            })
            .fail(function(response) {
                response = $.parseJSON(response.responseText);
                const error_list = [];
                for (let i = 0; i < response.length; i++) {
                    error_list.push('<li class="error-text">' + response[i] + '</li>')
                }
                $(".error-field").html(error_list.join(''));
                setTimeout(function() {
                    $(".error-field").html("&nbsp;");
                }, 2000);
            });
        });

        // Populate session modal when opened
        $(".btn-trainer").click(function (event) {
            const content = event.target.title || event.target.parentElement.title;
            $("#trainerModal .modal-title").text(content);
            $("#id_timestamp").val(content);
        });

        // Populate user modal when opened
        $(".btn-user").click(function (event) {
            $.getJSON('session/' + event.target.id, function (data) {
                // Set descriptive items
                $("#userModal .modal-title").text(data.activity);
                $("#userModal #trainer").text('Trainer: ' + data.trainer);
                $("#userModal #room").text(data.room);
                $("#userModal #assistants").text('Assistants (' + data.assistants.length + '/' + data.max_assistants + '):');

                let assistantList = [];
                $.each(data.assistants, function (id, assistant) {
                    assistantList.push('<li>' + assistant + '</li>')
                });
                $("#userModal #assistantList").html(assistantList.join(''));

                // Set enrolment (if user) or delete (if trainer) button
                {% if request.user|has_group:"client" %}
                    const enrolment_string = data.assistants.includes("{{ request.user.username }}") ? 'Unenroll' : 'Enroll';
                    $("#userModal #enrolment").attr('action', 'session/' + event.target.id + '/' + enrolment_string.toLowerCase() + '/');
                    $("#userModal #enrolment button").text(enrolment_string);
                    if (data.assistants.length < data.max_assistants) $("#userModal #enrolment button").attr('disabled', false);

                {% elif request.user|has_group:"trainer" %}
                    $("#userModal #enrolment").attr('action', 'session/' + event.target.id + '/delete/');
                    $("#userModal #enrolment button").text("Delete");
                    if (
                        data.trainer === "{{ user.username }}" &&
                        data.assistants.length === 0
                    ) $("#userModal #enrolment button").attr('disabled', false);
                {% endif %}
            })
        });
    </script>
{% endblock %}
