<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="trainerModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <form id="session_form" method="post" action={% url 'activitymanager:session_create' %}>
                    {% csrf_token %}
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-title">Modal Header</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <table>
                            {{ form.as_table }}
                        </table>
                        <ul class="error-field">&nbsp;</ul>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default btn-submit">Submit</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>