<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="userModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Modal Header</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p id="trainer">Trainer: ?</p>
                    <p id="room"></p>
                    <p id="assistants">Assistants:</p>
                    <ol id="assistantList"></ol>
                    <p class="error-field">&nbsp;</p>
                </div>
                <div class="modal-footer">
                    <form id="enrolment" method="post" action="#">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-default btn-submit" disabled>Action</button>
                    </form>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>