html, body {
    height: 100%;
}

h1 {
    padding-left: 2em;
}

.header {
    height: 6em;
    background-color: RGBA(0, 0, 255, 0.15);
}

.assisting {
    background-color: #83ba78;
}

.session {
    background-color: #f8c296;
}

.legend {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1em 0 1em;
}

.legend-text {
    margin: 0;
}

.row {
    width: 100%;
}

.row-button {
    padding: 1em;
}

.error-text {
    color: red;
}